@import '_normalize';

div {
    padding: 10px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

.info-container,
.edit-container,
.remove-container {
    width: 100%;
}

.error-message {
    border: 1px solid red;
    color: red;
    display: inline-block;
}